body {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    height: 700px;
    background-color: black;
    border-radius: 20px;
    display: flex;
}

.header-text,
.header-image {
    width: 50%;
}

.header-text {
    color: white;
    padding-left: 8%;
    padding-top: 4%;
}

.header-text h1 {
    font-size: 80px;
    margin-bottom: 0;
    width: 60%;
}

.header-text h4 {
    font-weight: 100;
    width: 80%;
}

.banner-image{
    width: 100%;
    height: 90%;
    margin-top: 70px;
    margin-left: -60px;
}

.header-btn {
    background: tomato;
    padding: 15px 25px;
    border-radius: 5px;
    margin-top: 10px;
}

.header-btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.arrow {
    font-size: 17px;
    color: white;
    margin-left: 10px;
}

@keyframes btn-animation {
    from {
        background-color: tomato;
    }

    to {
        background-color: blue;
        color: white;
    }
}

.header-btn:hover {
    animation-name: btn-animation;
    animation-duration: 2s;
}
.blog{
    width: 90%;
    margin: 0 auto;
    min-height: 700px;
    border:1px solid red;
    margin-top: 150px;
    display: flex;
}
.blog-menu{
    background-color: black;
    height: 330px;
    width: 20%;
    border-radius: 10px;
    margin-top: 0px;
    margin: 0 auto;
}
.blog-menu ul{
    width: 80%;
    padding: 0;
    margin: 0 auto;
    padding-top:20px;
}
.blog-menu ul li{
    list-style-type: none;
    margin: 0 auto;
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
}

.first-option {
    background-color: white;
    color: black;
    padding: 20px 40px;
    border-radius: 10px;
    font-weight: 600;
}
.second-option{
    background-color: white;
    color: black;
    padding: 20px 40px;
    border-radius: 10px;
    font-weight: 600;
}
.third-option{
    background-color: tomato;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    font-weight: 600;
}
.blog-article{
    border:1px solid blue;
    width: 80%;
    display: flex;
}
.blog{
    /* display: flex; */
}
.article{
    border:1px solid silver;
    border-radius: 5px;
    width: 30%;
}

.article-btn{
    margin-left: 4%;
    background-color: white;
    color: black;
    border: 1px solid #333;
    font-size: 15px;
    margin-top: 16px;
    padding: 5px 25px;
    border-radius: 5px;
    font-weight: 600;
}
.article-title, .article-description{
    margin-left:4%;
}

